<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Hover Effect</title>

    <link rel="stylesheet" href="../static/css/sliding.css">
</head>
<body>
    
   <div class="box">
    <div class="container">
        <div class="card">
            <div class="img">
                <img src="../static/images/clg of agri.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>College of Agriculture</h2>
                <p>
                    Address: 3HGH+W4R, Gandi Krishi, Vignana Kendra, Bengaluru, Karnataka 560065
                    Phone: 080 2333 0684</p>
                <a href="">Click here to get more information</a>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../static/images/university of agri.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>University of Agriculture Science</h2>
                <p>
                    Address: Naik Bhavan, GANDHI KRISHI VIGNANA KENDRA Karnataka 560065</p>
                <a href="https://uasbangalore.edu.in/index.php/kannada-uas">Click here to get more information</a>
            </div>
   </div>
        </div>
       
        <div class="container">
        <div class="card">
            <div class="img">
                <img src="../static/images/clg of horti.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>College of Horticulture</h2>
                <p>
                    Address: 3HV8+788, College of Horticulture, UHS (B) Campus, Post, Vignana Kendra, Bengaluru, Karnataka 560065
                    Phone: 080 2972 0568</p>
                <a href="https://uhsbagalkot.karnataka.gov.in/page/Education/Colleges/COH+Beganluru/en">Click here to get more information</a>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../static/images/gkvg.jpeg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>GKVK College </h2>
                <p>
                    College of Agriculture, UAS, Gandhi Krishi Vignan Kendra, Bellary Road, Bangalore - 560 065. +91-80-2333 0684 +91 80 23330153 Extn.285 (205)</p>
                <a href="https://demo.uasbangalore.edu.in/en/academics/college-of-agriculture-bangalore/">Click here to get more information</a>
            </div>
        </div>
        </div>
    </div>
    
     
   

</body>
</html>