<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Hover Effect</title>

    <link rel="stylesheet" href="../static/css/sliding.css">
</head>
<body>
    
   <div class="box">
    <div class="container">
        <div class="card">
            <div class="img">
                <img src="../static/images/Christ university.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>Christ University</h2>
                <p>Tel: +91 804012 9100 / 9600 Fax: 40129000 Email: mail@christuniversity.in Web: http://www. christuniversity.in </p>
                    <a href="https://www.shiksha.com/university/christ-university-bangalore-421/fees">Click here to get more information</a>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../static/images/Krish jayanthi.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>Kristu Jayanti College</h2>
                <p>560077, Karnataka, India Contact Number: 080-28465611, 28465770, 28465353 Aeria</p>
                <a href="https://en.wikipedia.org/wiki/Kristu_Jayanti_College">Click here to get more information</a>
            </div>
   </div>
        </div>
       
        <div class="container">
        <div class="card">
            <div class="img">
                <img src="../static/images/jain-university.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>jain-university</h2>
                <p>Jain (Deemed-to-be University), 44/4, District Fund Rd, behind Big Bazaar, Kottapalya, Jayanagara 9th Block, Jayanagar, Bengaluru ∙</p>
                <a href="https://www.jainuniversity.ac.in/">Click here to get more information</a>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../static/images/Joyhi Nivas.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>Jothi Nivas College</h2>
                <p>Jyoti Nivas College Autonomous Hosur Road, Koramangala Bangalore - 560 095 ; Phone Nos: ; Jyoti Nivas College Autonomous : 080 2553 0137</p>
                <a href="https://jnpuc.org/">Click here to get more information</a>
            </div>
        </div>
        </div>
    </div>
    
     
   

</body>
</html>