<!DOCTYPE html>
<html lang="en">

</html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Hover Effect</title>

    <link rel="stylesheet" href="../static/css/sliding.css">
</head>
<body>
    
   <div class="box">
    <div class="container">
        <div class="card">
            <div class="img">
                <img src="../static/images/christ.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>Christ PU College</h2>
                <p>Christ PU College - Residential,Mysore Road, Kanminike,Kumbalgodu P.O,Bangalore - 560 074 Phone : +91-80-4012 9870 E-Mail: principal@christpucr.org </p>
                <a href="https://www.christjuniorcollege.in/">Click here to get more information</a>           
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../static/images/rv.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>RV PU College</h2>
                <p>RV PU College, 3rd Block,
                    Jayanagar, Bengaluru-
                    560 011
                    080-69018990
                    rvpu@rvei.edu.in</p>
                    <a href="https://www.rvce.edu.in/">Click here to get more information</a>
            </div>
   </div>
        </div>
       
        <div class="container">
        <div class="card">
            <div class="img">
                <img src="../static/images/shesdri.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>Sheshadhripuram PU College</h2>
                <p>No. 27, Nagappa Street, Seshadripuram, Bengaluru - 560 020
                    +91-80-22955358
                    info@spucmain.ac.in </p>
                    <a href="https://www.spucmain.ac.in/">Click here to get more information</a>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../static/images/stjph.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>St.Joseph's PU College</h2>
                <p>Cariappa Road( Museum Road), Bengaluru, Karnataka-560025. +91 8147498934. +91 9108357266. sjpuc25@gmail.com pplsjpuc@gmail.</p>
                <a href="https://www.sjpuc.in/">Click here to get more information</a>
            </div>
        </div>
        </div>
    </div>
    
     
   

</body>
</html>