<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Hover Effect</title>

    <link rel="stylesheet" href="../static/css/sliding.css">
</head>
<body>
    
   <div class="box">
    <div class="container">
        <div class="card">
            <div class="img">
                <img src="../static/images/presidency.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>Presidency College</h2>
                <p>Address: #33/2C & 2D, Kempapura Main Rd, Hebbal Kempapura, Bengaluru, Karnataka 560024
                    Phone: 095139 62949</p>
                <a href="https://presidencycollege.ac.in/">Click here to get more information</a>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../static/images/aims.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>AIMS Institute</h2>
                <p>
                    Address: 1st Cross Rd, Peenya 1st Stage, Netaji Nagar, Peenya, Bengaluru, Karnataka 560058
                    Phone: 081500 01994</p>
                <a href="https://www.theaims.ac.in/">Click here to get more information</a>
            </div>
   </div>
        </div>
       
        <div class="container">
        <div class="card">
            <div class="img">
                <img src="../static/images/christ.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>Christ university</h2>
                <p>Address Bannerghatta Main Rd, Pai Layout, Hulimavu, Bengaluru, Karnataka 560076 ; Contact Number 080-4655-1565/1564/1446/1508 ; Email clare@christuniversity.in.
                </p>
                <a href="https://christuniversity.in/">Click here to get more information</a>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../static/images/stjph.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>ST joseph's university</h2>
                <p>Cariappa Road( Museum Road), Bengaluru, Karnataka-560025. +91 8147498934. +91 9108357266. sjpuc25@gmail.com pplsjpuc@gmail.</p>
                <a href="https://www.sjpuc.in/">Click here to get more information</a>
            </div>
        </div>
        </div>
    </div>
    
     
   

</body>
</html>