<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Hover Effect</title>

    <link rel="stylesheet" href="../static/css/sliding.css">
</head>
<body>
    
   <div class="box">
    <div class="container">
        <div class="card">
            <div class="img">
                <img src="../static/images/m-s-ramaiah.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>Ramaiah Polytechincs</h2>
                <p>Ramaiah Institute Of Technology Ms Ramaiah College Of Arts Science & Commerce, M S R I T Post, M S Ramaiah Nagar, Mathikere, Bengaluru, Karnataka 560054</p>
                <a href="https://www.ramaiahptedu.in/">Click here to get more information</a>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../static/images/MEI_Polytechnics.png" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>MEI Polytechincs</h2>
                <p>560010. India. 080 2320 2341 / 2335 1919. meipolytechnic@gmail.com ... meipolytechnic@gmail.com. Copyright © MEI ...</p>
                <a href="https://meipolytechnic.com/en/index/">Click here to get more information</a>
            </div>
   </div>
        </div>
       
        <div class="container">
        <div class="card">
            <div class="img">
                <img src="../static/images/acharya.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>Acharaya Polytechincs</h2>
                <p>Acharya Polytechnic, Acharya Dr Sarvepalli Radhakrishnan Rd, Soladevanahalli, Bengaluru, Karnataka 560107
                    Map of acharya polytechnicadmissions@acharya.ac.in · +91 740-664-4449 / +91 973-179-7677. Students /Employee ...</p>
                    <a href="https://www.acharya.ac.in/m/acharya-polytechnic">Click here to get more information</a>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../static/images/Pes.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>PES Polytechincs</h2>
                <p>50 Feet Main Rd, Mysore Bank Colony, Hanumanthnagar, Banashankari 1st Stage, Banashankari, Bengaluru, Karnataka 560050ADMISSIONS. 080-10-297297. admissions@pes.edu.</p>
                <a href="https://pespt.pes.edu/">Click here to get more information</a>
            </div>
        </div>
        </div>
    </div>
    
     
   

</body>
</html>