<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><html>

        <title>home page</title>
        <link rel="stylesheet" href="../static/css/home.css">
        
    </head>
   
    <body >
        <video  autoplay muted loop plays-inline id="va">
            <source src="../static/video/bgvideo.mp4" >
        </video>
        <div class="main">        
            <div class="sh">
                <img src="C:\Users\Admin\Downloads\cap2.png">
               </div>
               
        <ul>
            <li><a class="active" href="/homepage">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/aboutus">About us</a></li>
            <li><a href="#" onclick="promptForAdminPassword()">Admin</a></li>

           </ul>
           
       
   </div></br></br></br></br>
         
         
         
         <div class="tit"> <h1>
            
            FIND THE BEST CARRIER!
       
       </h1></div>
         
        

        <script src="../static/js/logadmin.js"></script>
        </script>
    
       
    </body>
</html>
                
