<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Hover Effect</title>

    <link rel="stylesheet" href="../static/css/sliding.css">
</head>
<body>
    
   <div class="box">
    <div class="container">
        <div class="card">
            <div class="img">
                <img src="../static/images/rv.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>RV college</h2>
                <p>Dr. K. N. Subramanya Principal R.V.College of Engineering Phone: 91-080-68188100 / 8111. Fax: 91-080-6717 8011. If you have any questions regarding ...</p>
                <a href="https://www.rvce.edu.in/">Click here to get more information</a>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../static/images/alliance.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>Alliance university</h2>
                <p>Located in: Alliance University Address: University Campus, Anekal, Karnataka 562106Hours: 
                    Closed ⋅ Opens 8:30 am Mon
                    Phone: 080 4619 9000
                    </p>
                <a href="https://www.alliance.edu.in/undergraduate_programs/btech/?utm_source=Esquared&utm_medium=Google_Search&utm_campaign=Alliance_Btech_Brand_Search_2024&gad_source=5&gclid=EAIaIQobChMI8Paj6oGBhwMVU6RmAh2N4wAVEAAYASAAEgJHQfD_BwE">Click here to get more information</a>
            </div>
   </div>
        </div>
       
        <div class="container">
        <div class="card">
            <div class="img">
                <img src="../static/images/jain-university.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>Jain university</h2>
                <p>
                    Address: 44/4, District Fund Rd, behind Big Bazaar, Kottapalya, Jayanagara 9th Block, Jayanagar, Bengaluru, Karnataka 560069
                    Phone: 080 6927 9444</p>
                <a href="https://www.jainuniversity.ac.in/">Click here to get more information</a>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../static/images/Pes.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>PES university</h2>
                <p>
                    Address: 100 Feet Ring Road, Banashankari Stage III, Dwaraka Nagar, Banashankari, Bengaluru, Karnataka 560085
                    Phone: 080102 97297</p>
                <a href="https://pes.edu/">Click here to get more information</a>
            </div>
        </div>
        </div>
    </div>
    
     
   

</body>
</html>