<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Hover Effect</title>

    <link rel="stylesheet" href="../static/css/sliding.css">
</head>
<body>
    
   <div class="box">
    <div class="container">
        <div class="card">
            <div class="img">
                <img src="../static/images/christ.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>Christ university</h2>
                <p>Address Bannerghatta Main Rd, Pai Layout, Hulimavu, Bengaluru, Karnataka 560076;</p>
                <a href="https://christuniversity.in/">Click here to get more information</a>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../static/images/rv.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>RV college</h2>
                <p>RV PU College, 3rd Block ,Jayanagar, Bengaluru-560 011 080-69018990 rvpu@rvei.edu.in</p>
                <a href="https://www.rvce.edu.in/">Click here to get more information</a>
            </div>
   </div>
        </div>
       
        <div class="container">
        <div class="card">
            <div class="img">
                <img src="../static/images/Mcc.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>MCC college</h2>
                <p>
                    Address: 58, Palace Rd, Abshot Layout, Vasanth Nagar, Bengaluru, Karnataka 560052
                    Phone: 080 2226 1759</p>
                <a href="https://mccblr.edu.in/">Click here to get more information</a>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../static/images/Sjcc.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>SJCC COLLEGE</h2>
                <p>
                    Address: 163, Brigade Rd, Shanthala Nagar, Ashok Nagar, Bengaluru, Karnataka 560025
                    Phone: 080 2536 0646</p>
                <a href="https://www.sjcc.edu.in/">Click here to get more information</a>
            </div>
        </div>
        </div>
    </div>
    
     
   

</body>
</html>