<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Hover Effect</title>

    <link rel="stylesheet" href="../static/css/sliding.css">
</head>
<body>
    
   <div class="box">
    <div class="container">
        <div class="card">
            <div class="img">
                <img src="../static/images/bangalore-medical-college-research-institute.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>Bangalore Medical College & Research Institute</h2>
                <p>Address	Fort, KR Road, Bengaluru, KarnatakaCity	Bengaluru State	Karnataka </p>
                    <a href="https://www.shiksha.com/college/bangalore-medical-college-and-research-institute-52956/courses">Click here to get more information</a>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../static/images/Kempegowda.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>Kempegowda Institute of Medical Science</h2>
                <p>Krishna Rajendra Rd, Parvathipuram, Vishweshwarapura, Basavanagudi, Bengaluru </p>
                    <a href="https://www.kimsbangalore.edu.in/">Click here to get more information</a>
            </div>
   </div>
        </div>
       
        <div class="container">
        <div class="card">
            <div class="img">
                <img src="../static/images/ms ramaiah hospital.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>M.S.Ramaiah Medical College</h2>
                <p>Registered as MS Ramaiah University of Applied Sciences ... Contact: 080 4536 6666, Email: director.tp@msruas ... Details · Get Wired for Success with a B.Tech in ...</p>
                <a href="https://www.msrmc.ac.in/">Click here to get more information</a>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../static/images/Prestige.jpg" alt="">
                <a href="/addmission" ><input  type="button" value="APPLY"></a>
            </div>
            <div class="content">
                <h2>Prestige Medical Health Science</h2>
                <p>97, 2nd Cross Rd, 1st Block, HBR Layout 1st Block, 1st Stage, Kacharakanahalli, Bengaluru, Karnataka 560043
                    call:1800 120 8696.</p>
                    <a href="https://bangalorestudy.com/college/prestige-medical-health-sciences-hbr-layout-bangalore">Click here to get more information</a>
            </div>
        </div>
        </div>
    </div>
    
     
   

</body>
</html>